
.message {
    background-color: #f44336;
    color: white;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 5px;
  }